

<style>
@font-face {
    font-family: myFirstFont;
    src: url('/fonts/modern M.ttf');
}
.pclass {
    font-family: myFirstFont;
}

</style>

<h1>Check fonts of text</h1>
<p class="pclass"> this is first fonts for testing you can find more on google.</p>

<p> this is first fonts for testing you can find more on google.</p>

